<!DOCTYPE html>
<html lang="en">
<head>
     <link href="../static/main.css" rel="stylesheet">
</head>
    <body>
    <div class="container">
        <h1>Welcome to the Geocoding Web App</h1>
        <h3> Please upload the file in CSV format with a mandatory addresss coloumn to get the geocoded output</h3>
            <form action="{{url_for('success_table')}}" method="POST" enctype="multipart/form-data">
                <input type="file" accept=".csv" name="file" />
                <button type="submit"> Submit </button>
            </form>
        <div class="output">
            {{text|safe}}
            {% if btn %}
            {% include btn %}
            {% endif %}
        </div>
    </div>
    </body>
</html>